main {
    text-align: center;
    background-color: rgb(241, 241, 241);
    margin: 0 auto;
}
#img-div {
    background-color: white;
    margin: 3% 3%;
}
#title {
    font-weight: bold;
    padding: 20px 0 0 0;
    font-size: 40px;
}
#tribute-info {
    font-size: 15px;
    font-weight: lighter;
}